<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title> Surf Diary v1.0</title>
  <meta name="description" content="">
  <!--responsive deisgn to take control of viewport dimensions and scaling-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>


<body>



    <div id="main_diary">
      <form method="POST" action ="/send" id="session_form">

        <div >
            <h2>Welcome to <strong>Surf Diary v 1.0</strong></h2>

          <h4>Fill out the form below to record your session!</h4>



            <div></div>

            <div class="form-drop-down">

              <label >I surfed here today:</label>

              <select id="surfspots" class="" name="spots">
                <option value=""></option>
                <option value="Rockaway">Rockaway</option>
                <option value="Lindamar">Lindamar</option>
                <option value="Pacheco">Ocean Beach - Pacheco</option>
                <option value="Deadman's">Deadman's</option>
                <option value="FtPoint">Ft.Point</option>
                <option value="PleasurePoint">Pleasure Point</option>
                <option value="4mile">Four Mile</option>
              </select>




              <label >Today's swell was from the:</label>

              <select class="" name="swell">
                <option value=""></option>
                <option value="E">East</option>
                <option value="SW">Southwest</option>
                <option value="NW">Northwest</option>
                <option value="N">North</option>
                <option value="NE">Northeast</option>
                <option value="W">West</option>
                <option value="SE">Southeast</option>
                <option value="S">South</option>
              </select>

              <label for="wind">Today's wind was from the:</label>
              <select id="wind" class="" name="wind">
                <option value=""></option>
                <option value="E">East</option>
                <option value="SW">Southwest</option>
                <option value="NW">Northwest</option>
                <option value="N">North</option>
                <option value="NE">Northeast</option>
                <option value="W">West</option>
                <option value="SE">Southeast</option>
                <option value="S">South</option>
              </select>





              <label for="tide">Today's tide was:</label>

              <select id="tide" class="" name="tide">
                <option value=""></option>
                <option value="Incoming">Incoming</option>
                <option value="Outgoing">Outgoing</option>
              </select>

              <label for="overall">Overall my session was:</label>

              <select id="overall" class="" name="overall">
                <option value=""></option>
                <option value="epic! Maybe you want to setup an alert?">All time!</option>
                <option value="worth it">It was good. Totally worth it.</option>
                <option value="crap. Better to stay home next time.">Should have stayed home</option>
              </select>


            </div>

            <div  class="clear">

              <div class="response" style="display: none;"></div>
              <div  class="response" style="display: none;"></div>

            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input tabindex="-1" name="b_0812ad09545b8bcbe5c7ef273_5bbd1c7344" type="text" value="" /></div>

          <div class="inline">
            <span>
              <input type ="submit" value="submit" class="button"></button>
              <button id="reset_button" type ="button" onclick="resetform()" class="button">Reset</button>

            </span>
        </div>

      </form>

    </div>


    <script src="{{ url_for('static',filename='app.js') }}"></script>

  </body>
<!-- today's progress: setup anaconda, flask, and got local server to return a template.-->
</html>
