<!DOCTYPE html>

  {% for r in result %}

  <h1> Thanks for recording your session! </h1>
  <p> You surfed at {{r.beach}} on a {{r.swell}} swell when the wind was from the {{r.wind}} on a {{r.tide}} tide. You started your session at {{r.stime}} and ended it at {{r.etime}}.
    "</p>
  <p> Overall you session was {{r.rank}} </p>



  <h1> Thanks for recording your session! </h1>
  <p> You surfed at {{r.beach}} on a {{r.swell_height}} meter swell  coming from {{r.swell_direction}} with {{r.swell_period}} period when the wind was from the {{r.wind}} on a {{r.tide}} tide.</p>
  <p> Overall you session was {{r.rank}} </p>

  {% endfor %}


  <a href="{{ url_for('index')}}">Go Home </a>

</html>
